.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  
    height: 100vh;

    margin: 0px;

    font-family: 'Roboto', sans-serif;
  }

.header {
    grid-area: header;
    background-color: #f5a25d;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    color: white;
    padding: 30px 0 20px 0;
    }
  
.nav {
    grid-area: nav;
    padding: 15px;
    background-color: #fadcaa;
    color: #707070;
    line-height: 200%;
  }

.nav ul {
    list-style-type: none;
 }
  
.main {
    grid-area: content;
    padding: 15px;
    background-color: #ffdecf;
    color: #707070;
    line-height: 125%;
  }
  
.aside {
    grid-area: side;
    padding: 15px;
    background-color: #fadcaa;
  }
  
.footer {
    grid-area: footer;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

a {
    color: blue;
}

img {
  width: 75%;
}

@media (min-width: 600px) {
    #buttons li {
      float: left;
      list-style: none;
      text-align: center;
      background-color: #000000;
      margin: 30px 0 0 0;
      width: 120px;
      line-height: 60px;
    }
    
    #buttons li a {
      text-decoration: none;
      color: #FFFFFF;
      padding: 15px;
    }
} 





@media (max-width: 599px) {
    .container {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
    

    grid-template-columns: 1fr;
    
    grid-template-rows:
      auto 
      minmax(auto, auto) 
      1fr 
      minmax(auto, auto) 
      auto; 
    }

    #buttons li {
      float: left;
      list-style: none;
      text-align: center;
      background-color: #000000;
      margin: 0 30px 30px 30px;
      width: 120px;
      line-height: 60px;
    }

    #buttons li a {
      text-decoration: none;
      color: #FFFFFF;
      display: block;
    } 

  }